.btn-small {
    font-size: 2.1rem;
    color: #fff;
    padding: 2rem 3rem;
    border-radius: 5rem;
    border: none;
    margin-bottom: 8rem;
    background-image: linear-gradient($color-secondary, $color-primary);
    @include box-shadow;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.btn-small:hover {
    box-shadow: 0 0px 20px 0px #ce93d8;
}