html {
    font-size: 62.5%;
}

.container {
    max-width: 992px;
    margin: 0 auto; 
}

@media (max-width: 768px) {
    
}

@media (max-width: 480px) {
    .container {
        min-width: 375px;
        overflow: hidden;
    }
    
}